.deal {
  font-size: 10px;
  padding: 8px 24px 8px 24px;
  opacity: 0.6;
}

.property {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.sub {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  strong {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    padding-right: 8px;
    padding-left: 16px;
  }
}

.spinner2 {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #000000;
  border-top: 2px solid #fff;
  display: inline-block;
  animation: rotating-spinner 1s linear infinite;
}

@keyframes rotating-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
